<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <div>
            <a mat-button [routerLink]="['/my-nav']" routerLinkActive="router-link-active"> Home Page </a>


          <img src= "/assets/Admin.jpeg" alt="Avatar" class="image" width =30 height = 30>
          <a mat-button [routerLink]="['/administrator']" routerLinkActive="router-link-active"> Administrator </a>
          
          <img src= "/assets/teacher.jpeg" alt="Avatar" class="image"  width =30 height = 30>
          <a mat-button [routerLink]="['/teacher']" routerLinkActive="router-link-active"> Teacher </a>
          
          <img src= "/assets/student.jpeg" alt="Avatar" class="image" width =30 height = 30>
          <a mat-button [routerLink]="['/student']" routerLinkActive="router-link-active"> Student </a>
          
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> Learning Through Activity Management System </span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
        <!-- <app-student-table></app-student-table> -->
        <!-- <app-students></app-students> -->
    </mat-sidenav-content>
</mat-sidenav-container>