<mat-toolbar>
  <span>Add Activity</span>
</mat-toolbar>
<form >

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name of the activity">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Name of the activity</mat-hint>
  </mat-form-field>

  <br>
 

  <table class="full-width">
    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input matInput placeholder="Location of the activity">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Location of the activity</mat-hint>
        </mat-form-field>
      </td>
    <br>
      <td>
        <mat-form-field appearance="fill">
            <mat-label>Teacher</mat-label>
            <textarea matInput placeholder=" who hosts the activity"></textarea>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>The teacher who hosts the activity</mat-hint>
         </mat-form-field>
      </td>
      
    </tr>
    <tr>
      <td>
          <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
      </td>
    <br>
      <td>
        <mat-form-field appearance="fill">
            <mat-label>Period</mat-label>
          <input matInput placeholder="PeriodtimeStart (mm/dd/yyy)">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Period Time Start of the activity</mat-hint>
        </mat-form-field>
      </td>
      <br>
        <td>
        <mat-form-field appearance="fill">
            <mat-label>Period</mat-label>
          <input matInput placeholder="PeriodtimeEnd (mm/dd/yyy)">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Period Time End of the activity</mat-hint>
        </mat-form-field>
      </td>
      
    </tr>
    
  </table>
  <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
          <input matInput placeholder="Description of the activity">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Description of the activity</mat-hint>
  </mat-form-field>

  
  
  <div class="center">
    <button mat-button class="mat-raised-button" color="primary" (click)="add()">Add</button>
  </div>

</form>
