<div ng-model="adminnav">
    <mat-toolbar class="nav" fixedInViewport>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span style="color: rgb(255, 255, 255)"> Administrator </span>
        <span class="nav-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true" >

            
            <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle()" style="color: rgb(255, 255, 255)"> menu </mat-icon>
              </button>
      
        </div>
       
        <a mat-flat-button color="blue" class="btn btn-primary btn-lg" [routerLink]="['/main']" routerLinkActive="router-link-active">
          <h1>Log Out</h1>
      </a>
        
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['./approve']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
            
            Dashboard
          </a>
          <a mat-list-item [routerLink]="['./adminregiater']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
            
            Rejister</a>
           
          
          
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill fixedInViewport>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    </div>
