<mat-grid-list cols="1" rowHeight="fit">
    <mat-grid-tile>
        <div class="form-login">
            <div class="example-container">
                <h3 class="header-text">Learning Through Activity System</h3>
                <h5 class="header-text">Login</h5>
                <mat-form-field color="warn">
                    <input matInput placeholder="Email" [(ngModel)]="email" [type]="email">
                </mat-form-field>
                <mat-form-field color="warn">
                    <input matInput placeholder="Password" [(ngModel)]="password" [type]="hide ? 'text' : 'password'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <button class="login-button" mat-flat-button color="warn" (click)="login()">Login</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
